<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spazedog.guardian"
    android:versionCode="1"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    
    <!-- Cydia Substrate -->
    <uses-permission android:name="cydia.permission.SUBSTRATE"/>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Guardian"
        android:theme="@style/App.Theme.Material.Light"
        android:name="com.spazedog.guardian.application.Controller">
        
        <!-- Cydia Substrate -->
        <meta-data android:name="com.saurik.substrate.main" android:value="com.spazedog.guardian.backend.xposed.Injector"/>
        
        <!-- Xposed Framework -->
        <meta-data android:value="true" android:name="xposedmodule" />
        <meta-data android:value="30+" android:name="xposedminversion" />
        <meta-data android:value="WakeLock Monitoring" android:name="xposeddescription" />
        
        <service android:name="com.spazedog.guardian.backend.PersistentService"></service>
        <service android:name="com.spazedog.guardian.backend.ScheduledService"></service>
        
        <receiver android:name="com.spazedog.guardian.backend.MonitorService$MonitorServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
        </receiver>
        
        <receiver android:name="com.spazedog.guardian.backend.ScheduledService$ScheduledServiceReceiver">
			<intent-filter>
				<action android:name="guardian.intent.action.SCHEDULE_SERVICE" />
			</intent-filter>
        </receiver>
        
        <activity
            android:name="com.spazedog.guardian.ActivityLaunch"
            android:label="Guardian" >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>
